html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: black;
}

#renderCanvas {
  width: 100%;
  height: 100%;
  touch-action: none;
}

#fps {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
  background: white;
  color: black;
  padding: 1px 5px;
}

#ctrl {
  position: fixed;
  right: 0;
  bottom: 30px;
  z-index: 100;
}
